.header{
    height: 50px;
    background-color: #1976d2;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome{
    color: white;
    text-decoration: none;
    font-weight: 700;
    position: relative;
}

.logout{
    position: relative;
    right: 5px;
}

.links{
    margin-left: 30px;
}